/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* C S S Variables */
:root {
    --primary-font: "Audiowide", cursive;
    --primary-color: #032c5a;
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

#header h1 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color:var(--primary-color);
    margin-top: 4rem;
    text-align: center;
   }
   /* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}
body {
    max-width: 100%;
    min-height: 100vh;
}
.main {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   
}

/* Destinations page */
/* Card buttons */

.custom-button-filled {
  display: inline-block;
  background-color: var(--primary-color); /* uses our theme's blue */
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.custom-button-filled:hover {
  background-color: var(--highlight-color); /* lighter blue from our palette */
  color: #fff;
  transform: scale(1.05);
}


/* Bookings section */
#bookings-form {
    font-weight: 450;
}

section h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}
#destination  {
    max-width: fit-content;
    color:white;
    background-color: blue;
    text-align: center;
    font-weight: bold; 
} 





/* Footer section */
.social-links {
    display: flex;
  justify-content: space-between;
}
#contact {
    background-color: var(--primary-color);
    color: var(--highlight-color-light);
    padding-bottom: 5px 0;
}

#contact h2 {
    color:var(--highlight-color-light);
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 3rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}






/* Borders for visualisation */



/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media querries */
/* media querries for small screens (344px ) */


@media screen and (min-width:342px) {
 .main {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   
}
.carousel-intro-paragraph {
    text-align: center;
    margin-top: 2rem ;
    font-size: 1rem;
    
 }
.bottom-paragraph {
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    
    font-style: italic;
}
#contact-info {
    
    text-align: center;
    margin-top: 1rem;
    font-size:1rem;
    
}
.location-intro{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}
#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 3rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#contact .social-links i:hover {
    color: var(--secondary-color);
}

/* bookings section */
#destinations {
    font-size: 1rem;
    display: flex;
 }
 .form-select {
    text-align: left;
   
    
 }




body {
  display: flex; /* Enable Flexbox on the body */
  flex-direction: column; /* Arrange children vertically */
}
.site-content {
  flex-grow: 1; /* This is the key! Makes the main content area grow
                   to take up all available space between the header and footer */
}
#success-p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

}
/* Media queries for medium screens (768px and above) */
@media screen and (min-width:768px) {
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15.5rem;
   
}
.card {
  display: flex;
  flex-direction: column; /* vertical layout */
}

.card-body {
  display: flex;
  flex-direction: column; /* vertical layout */
  flex-grow: 1; /* takes all available vertical space */
}

.card-footer {
  background: transparent; /* remove default grey if you like */
  border-top: none;        /*optional: remove top border */
  margin-top: auto; /* pushes footer to bottom of card */
}

#success-p {
    text-align: center;
    margin-top: 10rem;
    font-size: 1.5rem;
}
    
.carousel-intro-paragraph {
    text-align: center;
    margin-top: 2rem ;
   
    font-size: 1.3rem;
 }
.bottom-paragraph {
    text-align: center;
    margin: 12.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;

    font-style: italic;
}
.location-intro{
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    
}

}


/* Media queries for large screens (992px and above) */
@media screen and (min-width:992px) {
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
}  
.site-content {
  flex-grow: 1;
}

#navbar {
    height: 5rem;
}
#header h1 {
    margin-top: 6rem;
}
    
.carousel-intro-paragraph {
    text-align: center;
    margin-top: 2rem ;
    font-size: 1.3rem;
    justify-content: center;
}

.bottom-paragraph {
    text-align: center;
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;
     font-style: italic;
}
#bookings-submit-btn {
    margin: auto;
}
#contact-info {
    text-align: center;
    font-size:1.7rem;
    margin-top: 1.5rem;
    
}
#open-hours {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 0 0;
    color: var(--highlight-color-light);
}
  
}

/* Media queries for large screens (1024px and above) */
@media screen and (min-width:1024px) {
.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
}
/* Media queries for large screens (1280px and above) */
@media screen and (min-width:1280px) {
 body {
    max-width: 100vw;
    min-height: 100vh;
 }

/* home page */


#adventure {
    text-align: center;
    margin: 2px 2px 0 2px;
    font-size: 1.rem;
    
}

    
.carousel {
    margin-top: 10px;
    
}
#home-page-carousel img {
    height: 60vh;        /* adjust height (50–70vh works well) */
    object-fit: cover;   /* crops images nicely without stretching */
}
/* Destinations page */
.card {
  display: flex;
  flex-direction: column; /* vertical layout */
}

.card-body {
  display: flex;
  flex-direction: column; /* vertical layout */
  flex-grow: 1; /* takes all available vertical space */
}

.card-footer {
  background: transparent; /* remove default grey if you like */
  border-top: none;        /*optional: remove top border */
  margin-top: auto; /* pushes footer to bottom of card */
}

/* Locations */
.carousel-intro-paragraph {
    text-align: center;
    margin-top: 17rem ;
    margin-left: 2rem;
    padding-right: 2rem;
    
}
/* Bookings */



.bottom-paragraph {
    text-align: center;
    margin: 5rem 2rem 2rem 2rem;
     font-size: 1.2rem;
    
}
#contact-info {
    margin-top: 2.5rem;
    font-size:1.5rem;
    margin-right: 12rem;
}




}
