/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* C S S Variables */
:root {
    --primary-font: "Audiowide", cursive;
    --primary-color: #032c5a;
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

#header h1 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color:var(--primary-color);
    margin-top: 4rem;
   }
   /* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}
body {
    max-width: 100%;
  
}


/* Aquaterra section */
.aqua-para {
    text-align: center;
}

/* hidden h2 */
#aquaterra h2 {
    display: none;
}

/* Footer section */
.social-links {
    display: flex;
  justify-content: space-between;
}
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 3rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}
#destination-dropdown {
    width: 25rem;
    color:white;
    background-color: blue;
    
    text-align: center;
    font-weight: bold; 
    
}



/* Borders for visualisation */



/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media querries */
/* media querries for small screens (344px ) */
@media screen and (min-width:340px) {
    body {
        max-width: 100%;

    }
}

/* Media queries for large screens (992px and above) */
@media screen and (min-width:992px) {
   #adventure {
    
  margin-right: 4rem;
  margin-top:8rem;
}
#adventure h1 {
    font-size: 55px;
}
/* Destinations Section */
#destinations {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
#destinations .card-footer {
    margin-bottom: auto;
}
}
/* Media queries for large screens (1280px and above) */
@media screen and (min-width:1280px) {
   #adventure {
  margin-right: 4rem;
  margin-top:8rem;
  align-items: center;
}
#adventure h1 {
    font-size: 55px;
}
/* Destinations Section */
#destinations .row {
    display: flex;
    align-items: stretch;
    
}

}
